* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

.test-box {
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid red;
    background-image: url(../img/test_img03.png);
    background-size: 50%;

    .hello-world {
        font-weight: bold;
        font-size: 20px;
        color: red;
    }
}
