* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

.test-box {
    display: flex;
    width: 300px;
    height: 300px;
    justify-content: center;
    align-items: center;
    border: 1px solid red;
    background: url(../img/test_img01.jpg) no-repeat center / 100px 100px;
    .hello-world {
        font-weight: bold;
        font-size: 20px;
        color: red;
    }
}